@import 'tailwindcss';

@config '../../../../tailwind.config.ts';

@layer theme {
	:root {
		--neutral: #ffffff;
		--primary: #2a85ff;
		--primary-deep: #0069f6;
		--primary-mild: #4996ff;
		--primary-subtle: #2a85ff1a;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #404040;
		--gray-800: #262626;
		--gray-900: #171717;
		--gray-950: #0a0a0a;

		/* Background */
		--background: #ffffff;
		
		/* Header */
		--header-background: #ffffff;
		--header-hover-background: #0000000d;
		--header-hover-text: #171717;

		/* Side Nav */
		--side-nav-background: #ffffff;
		--side-nav-border: #e5e5e5;
		
		/* Stacked Side Nav */
		--stacked-side-nav-mini-background: #ffffff;
		--stacked-side-nav-mini-border: #e5e5e5;
		--stacked-side-nav-secondary-background: #ffffff;
		--stacked-side-nav-secondary-border: #e5e5e5;

		/* Side Nav Menu Items */
		--menu-item-text: #525252;
		--menu-item-hover-text: #171717;
		--menu-item-hover-background: #f5f5f5;
		--menu-item-border: #e5e5e5;
		--menu-collapse-item-text: #525252;
		--menu-collapse-item-hover-text: #171717;
		--menu-collapse-item-hover-background: #f5f5f5;

		/* Drawer / Sidebar Drawer With Font Settings, Mode, etc */
		--drawer-background: #ffffff;
		--drawer-border: #e5e5e5;
		--drawer-overlay: #000000cc;

		/* Search */
		--search-dialog-border: #e5e5e5;
		--search-dialog-input-text: #f5f5f5;
		--search-item-hover-background: #f5f5f5;
		--search-item-text: #171717;
		
		/* Heading Colors */
		--heading-1: #18181b;
		--heading-2: #18181b;
		--heading-3: #18181b;
		--heading-4: #18181b;
		--heading-5: #18181b;
		--heading-6: #18181b;

		/* Paragraph Color */
		--paragraph: #696969;
		--hr: #e5e5e5;

		/* Inline Text */
		--small: #777777;
		--strong: #000000;
		--b: #000000;
		--em: #000000;
		--i: #000000;
		--u: #000000;
		--mark: #000000;
		--del: #b00020;
		--ins: #007f00;
		--sub: #555555;
		--sup: #555555;
		
		/* Table Of Content */
		--toc-title-text: #0a0a0a;
		--toc-background: #fafafa;
		--toc-border: #d4d4d4;

		/* Button */
		--button-default-background: #f5f5f5;
		--button-default-border: #d4d4d4;
		--button-default-text: #525252;
		--button-default-active-border: #d4d4d4;

		/* Avatar */
		--avatar-background: #a3a3a3;
		--avatar-text: #f5f5f5;
		
		/* Card */
		--card-background: #ffffff;
		--card-border: #e5e5e5;
		
		/* Dialog */
		--dialog-background: #ffffff;
		--dialog-overlay: #00000099;
		
		/* Dropdown */
		--dropdown-background: #ffffff;
		--dropdown-border: #f5f5f5;

		/* Input */
		--input-background: #f5f5f5;
		--input-border: #f5f5f5;
		--input-text: #262626;
		--input-placeholder: #a3a3a3;
		--input-addon-background: #e5e5e5;
		--input-addon-border: #e5e5e5;

		/* Notification */
		--notification-background: #ffffff;
		--notification-border: #f5f5f5;
		--notification-text: #262626;
		--notification-item-background-hover: #f5f5f5;
		--notification-item-background-active: #f5f5f5;
		--notification-item-background-border: #f5f5f5;
		--notification-item-badge-background-readed: #d4d4d4;

		/* Input */
		--radio-border: #d4d4d4;
		--radio-ring: #d4d4d4;
		--radio-disabled-background: #e5e5e5;
		--radio-disabled-text: #e5e5e5;
		--radio-disabled-ring: #e5e5e5;
		--radio-disabled-border: #e5e5e5;
		
		/* Select */
		--select-background: #f5f5f5;
		--select-border: #f5f5f5;
		--select-text: #262626;
		--select-single-value-text: #262626;
		--select-multi-value-background: #f5f5f5;
		--select-multi-value-text: #262626;
		--select-multi-value-border: #d4d4d4;
		--select-menu-background: #ffffff;
		--select-menu-border: #f5f5f5;
		--select-menu-ring: #f5f5f5;
		--select-option-hover-text: #262626;

		/* Table */
		--table-border: #e5e5e5;
		--table-header-background: #fafafa;
		--table-header-text: #262626;
		--table-header-border: #e5e5e5;
		--table-body-border: #e5e5e5;
		--table-footer-border: #e5e5e5;
		--table-row-background-hover: #0000004d;

		/* Collapsible / Details */
		--collapsible-background: #4cb3d4;
		--collapsible-text: #193c47;
		--collapsible-border: #4cb3d4;

		/* Markdown-it Plugin Demo */
		--markdown-demo-code-background: #f6faff;
		--markdown-demo-code-copy-button-hover-background: #EDF8FB;
		--markdown-demo-border: #d4d4d4;
		
		/* Markdown-it Plugin Tabs */
		--markdown-tabs-border: #e5e5e5;
		--markdown-tabs-text: #525252;

		/* Markdown Alert: NOTE */
		--markdown-note-bg: rgba(84, 199, 236, 0.15);
		--markdown-note-border: #4cb3d4;
		--markdown-note-text: #193c47;
		--markdown-note-mark-bg: rgba(76, 179, 212, 0.3);
		--markdown-note-mark-text: #193c47;

		/* Markdown Alert: IMPORTANT */
		--markdown-important-bg: #f3e8ff;
		--markdown-important-border: #6b21a8;
		--markdown-important-text: #6b21a8;
		--markdown-important-mark-bg: rgba(107, 33, 168, 0.3);
		--markdown-important-mark-text: #6b21a8;

		/* Markdown Alert: TIP */
		--markdown-tip-bg: rgba(0, 164, 0, 0.15);
		--markdown-tip-border: #009400;
		--markdown-tip-text: #003100;
		--markdown-tip-mark-bg: rgba(0, 148, 0, 0.2);
		--markdown-tip-mark-text: #003100;

		/* Markdown Alert: WARNING */
		--markdown-warning-bg: #fff8e6;
		--markdown-warning-border: #e6a700;
		--markdown-warning-text: #4d3800;
		--markdown-warning-mark-bg: rgba(230, 167, 0, 0.3);
		--markdown-warning-mark-text: #4d3800;

		/* Markdown Alert: CAUTION */
		--markdown-caution-bg: #ffebec;
		--markdown-caution-border: #e13238;
		--markdown-caution-text: #4b1113;
		--markdown-caution-mark-bg: rgba(225, 50, 56, 0.3);
		--markdown-caution-mark-text: #4b1113;

		/* Task */
		--markdown-task-border: #9ca3af;
	}

	.dark {
		--neutral: #ffffff;
		--primary: #2a85ff;
		--primary-deep: #0069f6;
		--primary-mild: #4996ff;
		--primary-subtle: #2a85ff1a;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #404040;
		--gray-800: #262626;
		--gray-900: #171717;
		--gray-950: #0a0a0a;

		/* Background */
		--background: #262626;
		
		/* Header */
		--header-background: #262626;
		--header-hover-background: #00000066;
		--header-hover-text: #f5f5f5;

		/* Side Nav */
		--side-nav-background: #262626;
		--side-nav-border: #404040;
		
		/* Stacked Side Nav */
		--stacked-side-nav-mini-background: #262626;
		--stacked-side-nav-mini-border: #404040;
		--stacked-side-nav-secondary-background: #262626;
		--stacked-side-nav-secondary-border: #404040;

		/* Side Nav Menu Items */
		--menu-item-text: #a3a3a3;
		--menu-item-hover-text: #f5f5f5;
		--menu-item-hover-background: #404040;
		--menu-item-border: #404040;
		--menu-collapse-item-text: #a3a3a3;
		--menu-collapse-item-hover-text: #f5f5f5;
		--menu-collapse-item-hover-background: #404040;

		/* Drawer / Sidebar Drawer With Font Settings, Mode, etc */
		--drawer-background: #262626;
		--drawer-border: #404040;
		--drawer-overlay: #000000cc;

		/* Search */
		--search-dialog-border: #525252;
		--search-dialog-input-text: #171717;
		--search-item-hover-background: #404040;
		--search-item-text: #d4d4d4;
		
		/* Heading Colors */
		--heading-1: #ffffff;
		--heading-2: #ffffff;
		--heading-3: #ffffff;
		--heading-4: #ffffff;
		--heading-5: #ffffff;
		--heading-6: #ffffff;

		/* Paragraph Color */
		--paragraph: #ecf9ffb0;
		--hr: #404040;

		/* Inline Text */
		--small: #777777;
		--strong: #ffffff;
		--b: #ffffff;
		--em: #ffffff;
		--i: #ffffff;
		--u: #ffffff;
		--mark: #000000;
		--del: #b00020;
		--ins: #007f00;
		--sub: #555555;
		--sup: #555555;

		/* Table Of Content */
		--toc-title-text: #f5f5f5;
		--toc-background: #40404080;
		--toc-border: #525252;

		/* Button */
		--button-default-background: #737373;
		--button-default-border: #737373;
		--button-default-text: #f5f5f5;
		--button-default-active-border: #404040;

		/* Avatar */
		--avatar-background: #a3a3a3;
		--avatar-text: #f5f5f5;
		
		/* Card */
		--card-background: #262626;
		--card-border: #525252;
		
		/* Dialog */
		--dialog-background: #262626;
		--dialog-overlay: #00000080;
		
		/* Dropdown */
		--dropdown-background: #171717;
		--dropdown-border: #262626;

		/* Input */
		--input-background: #404040;
		--input-border: #404040;
		--input-text: #f5f5f5;
		--input-placeholder: #a3a3a3;
		--input-addon-background: #525252;
		--input-addon-border: #404040;

		/* Notification */
		--notification-background: #404040;
		--notification-border: #404040;
		--notification-text: #ffffff;
		--notification-item-background-hover: #404040;
		--notification-item-background-active: #404040;
		--notification-item-background-border: #404040;
		--notification-item-badge-background-readed: #525252;

		/* Radio */
		--radio-border: #525252;
		--radio-ring: #525252;
		--radio-disabled-background: #525252;
		--radio-disabled-text: #525252;
		--radio-disabled-ring: #525252;
		--radio-disabled-border: #525252;
		
		/* Select */
		--select-background: #404040;
		--select-border: #404040;
		--select-text: #f5f5f5;
		--select-single-value-text: #f5f5f5;
		--select-multi-value-background: #404040;
		--select-multi-value-text: #f5f5f5;
		--select-multi-value-border: #404040;
		--select-menu-background: #171717;
		--select-menu-border: #404040;
		--select-menu-ring: #404040;
		--select-option-hover-text: #f5f5f5;

		/* Table */
		--table-border: #404040;
		--table-header-background: #404040;
		--table-header-text: #d4d4d4;
		--table-header-border: #404040;
		--table-body-border: #404040;
		--table-footer-border: #404040;
		--table-row-background-hover: #00000080;

		/* Collapsible / Details */
		--collapsible-background: #4cb3d4;
		--collapsible-text: #ffffff;
		--collapsible-border: #4cb3d4;

		/* Markdown-it Plugin Demo */
		--markdown-demo-code-background: #40404080;
		--markdown-demo-code-copy-button-hover-background: #404040B3;
		--markdown-demo-border: #404040;

		/* Markdown-it Plugin Tabs */
		--markdown-tabs-border: #404040;
		--markdown-tabs-text: #d4d4d4;

		/* Markdown Alert: NOTE */
		--markdown-note-bg: #193c47;
		--markdown-note-border: #4cb3d4;
		--markdown-note-text: white;
		--markdown-note-mark-bg: rgba(76, 179, 212, 0.5);
		--markdown-note-mark-text: white;

		/* Markdown Alert: IMPORTANT */
		--markdown-important-bg: rgba(107, 33, 168, 0.2);
		--markdown-important-border: #6b21a8;
		--markdown-important-text: white;
		--markdown-important-mark-bg: rgba(107, 33, 168, 0.5);
		--markdown-important-mark-text: white;

		/* Markdown Alert: TIP */
		--markdown-tip-bg: #003100;
		--markdown-tip-border: #009400;
		--markdown-tip-text: white;
		--markdown-tip-mark-bg: rgba(0, 148, 0, 0.4);
		--markdown-tip-mark-text: white;

		/* Markdown Alert: WARNING */
		--markdown-warning-bg: #4d3800;
		--markdown-warning-border: #e6a700;
		--markdown-warning-text: white;
		--markdown-warning-mark-bg: rgba(230, 167, 0, 0.5);
		--markdown-warning-mark-text: white;

		/* Markdown Alert: CAUTION */
		--markdown-caution-bg: #4b1113;
		--markdown-caution-border: #e13238;
		--markdown-caution-text: white;
		--markdown-caution-mark-bg: rgba(225, 50, 56, 0.5);
		--markdown-caution-mark-text: white;

		/* Task */
		--markdown-task-border: #4b5563;
	}
	
	
	.daisy-light {
		--neutral: #ffffff;
		--primary: #2a85ff;
		--primary-deep: #0069f6;
		--primary-mild: #4996ff;
		--primary-subtle: #2a85ff1a;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #404040;
		--gray-800: #262626;
		--gray-900: #171717;
		--gray-950: #0a0a0a;

		/* Background */
		--background: #ffffff;
		
		/* Header */
		--header-background: #ffffff;
		--header-hover-background: #0000000d;
		--header-hover-text: #171717;

		/* Side Nav */
		--side-nav-background: #ffffff;
		--side-nav-border: #e5e5e5;
		
		/* Stacked Side Nav */
		--stacked-side-nav-mini-background: #ffffff;
		--stacked-side-nav-mini-border: #e5e5e5;
		--stacked-side-nav-secondary-background: #ffffff;
		--stacked-side-nav-secondary-border: #e5e5e5;

		/* Side Nav Menu Items */
		--menu-item-text: #525252;
		--menu-item-hover-text: #171717;
		--menu-item-hover-background: #f5f5f5;
		--menu-item-border: #e5e5e5;
		--menu-collapse-item-text: #525252;
		--menu-collapse-item-hover-text: #171717;
		--menu-collapse-item-hover-background: #f5f5f5;

		/* Drawer / Sidebar Drawer With Font Settings, Mode, etc */
		--drawer-background: #ffffff;
		--drawer-border: #e5e5e5;
		--drawer-overlay: #000000cc;

		/* Search */
		--search-dialog-border: #e5e5e5;
		--search-dialog-input-text: #f5f5f5;
		--search-item-hover-background: #f5f5f5;
		--search-item-text: #171717;
		
		/* Heading Colors */
		--heading-1: #18181b;
		--heading-2: #18181b;
		--heading-3: #18181b;
		--heading-4: #18181b;
		--heading-5: #18181b;
		--heading-6: #18181b;

		/* Paragraph Color */
		--paragraph: #696969;
		--hr: #e5e5e5;

		/* Inline Text */
		--small: #777777;
		--strong: #18181b;
		--b: #18181b;
		--em: #18181b;
		--i: #18181b;
		--u: #18181b;
		--mark: #18181b;
		--del: #b00020;
		--ins: #007f00;
		--sub: #555555;
		--sup: #555555;

		/* Table Of Content */
		--toc-title-text: #0a0a0a;
		--toc-background: #fafafa;
		--toc-border: #d4d4d4;

		/* Button */
		--button-default-background: #f5f5f5;
		--button-default-border: #d4d4d4;
		--button-default-text: #525252;
		--button-default-active-border: #d4d4d4;

		/* Avatar */
		--avatar-background: #a3a3a3;
		--avatar-text: #f5f5f5;
		
		/* Card */
		--card-background: #ffffff;
		--card-border: #e5e5e5;
		
		/* Dialog */
		--dialog-background: #ffffff;
		--dialog-overlay: #00000099;
		
		/* Dropdown */
		--dropdown-background: #ffffff;
		--dropdown-border: #f5f5f5;

		/* Input */
		--input-background: #f5f5f5;
		--input-border: #f5f5f5;
		--input-text: #262626;
		--input-placeholder: #a3a3a3;
		--input-addon-background: #e5e5e5;
		--input-addon-border: #e5e5e5;

		/* Notification */
		--notification-background: #ffffff;
		--notification-border: #f5f5f5;
		--notification-text: #262626;
		--notification-item-background-hover: #f5f5f5;
		--notification-item-background-active: #f5f5f5;
		--notification-item-background-border: #f5f5f5;
		--notification-item-badge-background-readed: #d4d4d4;

		/* Radio */
		--radio-border: #d4d4d4;
		--radio-ring: #d4d4d4;
		--radio-disabled-background: #e5e5e5;
		--radio-disabled-text: #e5e5e5;
		--radio-disabled-ring: #e5e5e5;
		--radio-disabled-border: #e5e5e5;
		
		/* Select */
		--select-background: #f5f5f5;
		--select-border: #f5f5f5;
		--select-text: #262626;
		--select-single-value-text: #262626;
		--select-multi-value-background: #f5f5f5;
		--select-multi-value-text: #262626;
		--select-multi-value-border: #d4d4d4;
		--select-menu-background: #ffffff;
		--select-menu-border: #f5f5f5;
		--select-menu-ring: #f5f5f5;
		--select-option-hover-text: #262626;

		/* Table */
		--table-border: #e5e5e5;
		--table-header-background: #fafafa;
		--table-header-text: #262626;
		--table-header-border: #e5e5e5;
		--table-body-border: #e5e5e5;
		--table-footer-border: #e5e5e5;
		--table-row-background-hover: #0000004d;

		/* Collapsible / Details */
		--collapsible-background: #4cb3d4;
		--collapsible-text: #193c47;
		--collapsible-border: #4cb3d4;

		/* Markdown-it Plugin Demo */
		--markdown-demo-code-background: #f6faff;
		--markdown-demo-code-copy-button-hover-background: #EDF8FB;
		--markdown-demo-border: #d4d4d4;

		/* Markdown-it Plugin Tabs */
		--markdown-tabs-border: #e5e5e5;
		--markdown-tabs-text: #525252;

		/* Markdown Alert: NOTE */
		--markdown-note-bg: rgba(84, 199, 236, 0.15);
		--markdown-note-border: #4cb3d4;
		--markdown-note-text: #193c47;
		--markdown-note-mark-bg: rgba(76, 179, 212, 0.3);
		--markdown-note-mark-text: #193c47;

		/* Markdown Alert: IMPORTANT */
		--markdown-important-bg: #f3e8ff;
		--markdown-important-border: #6b21a8;
		--markdown-important-text: #6b21a8;
		--markdown-important-mark-bg: rgba(107, 33, 168, 0.3);
		--markdown-important-mark-text: #6b21a8;

		/* Markdown Alert: TIP */
		--markdown-tip-bg: rgba(0, 164, 0, 0.15);
		--markdown-tip-border: #009400;
		--markdown-tip-text: #003100;
		--markdown-tip-mark-bg: rgba(0, 148, 0, 0.2);
		--markdown-tip-mark-text: #003100;

		/* Markdown Alert: WARNING */
		--markdown-warning-bg: #fff8e6;
		--markdown-warning-border: #e6a700;
		--markdown-warning-text: #4d3800;
		--markdown-warning-mark-bg: rgba(230, 167, 0, 0.3);
		--markdown-warning-mark-text: #4d3800;

		/* Markdown Alert: CAUTION */
		--markdown-caution-bg: #ffebec;
		--markdown-caution-border: #e13238;
		--markdown-caution-text: #4b1113;
		--markdown-caution-mark-bg: rgba(225, 50, 56, 0.3);
		--markdown-caution-mark-text: #4b1113;

		/* Task */
		--markdown-task-border: #9ca3af;
	}

	.daisy-dark {
		--neutral: #ffffff;
		--primary: #2a85ff;
		--primary-deep: #0069f6;
		--primary-mild: #4996ff;
		--primary-subtle: #2a85ff1a;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #404040;
		--gray-800: #262626;
		--gray-900: #171717;
		--gray-950: #0a0a0a;

		/* Background */
		--background: #1c232b;
		
		/* Header */
		--header-background: #1c232b;
		--header-hover-background: #00000066;
		--header-hover-text: #f5f5f5;

		/* Side Nav */
		--side-nav-background: #1c232b;
		--side-nav-border: #ffffff20;
		
		/* Stacked Side Nav */
		--stacked-side-nav-mini-background: #1c232b;
		--stacked-side-nav-mini-border: #ffffff20;
		--stacked-side-nav-secondary-background: #1c232b;
		--stacked-side-nav-secondary-border: #ffffff20;

		/* Side Nav Menu Items */
		--menu-item-text: #a3a3a3;
		--menu-item-hover-text: #f5f5f5;
		--menu-item-hover-background: #ffffff20;
		--menu-item-border: #404040;
		--menu-collapse-item-text: #a3a3a3;
		--menu-collapse-item-hover-text: #f5f5f5;
		--menu-collapse-item-hover-background: #ffffff20;

		/* Drawer / Sidebar Drawer With Font Settings, Mode, etc */
		--drawer-background: #09090b;
		--drawer-border: #404040;
		--drawer-overlay: #000000cc;

		/* Search */
		--search-dialog-border: #09090b;
		--search-dialog-input-text: #171717;
		--search-item-hover-background: #404040;
		--search-item-text: #d4d4d4;
		
		/* Heading Colors */
		--heading-1: #ecf9ff;
		--heading-2: #ecf9ff;
		--heading-3: #ecf9ff;
		--heading-4: #ecf9ff;
		--heading-5: #ecf9ff;
		--heading-6: #ecf9ff;

		/* Paragraph Color */
		--paragraph: #ecf9ffb0;
		--hr: #404040;

		/* Inline Text */
		--small: #777777;
		--strong: #ecf9ff;
		--b: #ecf9ff;
		--em: #ecf9ff;
		--i: #ecf9ff;
		--u: #ecf9ff;
		--mark: #000000;
		--del: #b00020;
		--ins: #007f00;
		--sub: #555555;
		--sup: #555555;

		/* Table Of Content */
		--toc-title-text: #f5f5f5;
		--toc-background: #40404080;
		--toc-border: #525252;

		/* Button */
		--button-default-background: #ffffff20;
		--button-default-border: #737373;
		--button-default-text: #f5f5f5;
		--button-default-active-border: #404040;

		/* Avatar */
		--avatar-background: #a3a3a3;
		--avatar-text: #f5f5f5;
		
		/* Card */
		--card-background: #262626;
		--card-border: #525252;
		
		/* Dialog */
		--dialog-background: #262626;
		--dialog-overlay: #00000080;
		
		/* Dropdown */
		--dropdown-background: #171717;
		--dropdown-border: #262626;

		/* Input */
		--input-background: #ffffff20;
		--input-border: #404040;
		--input-text: #f5f5f5;
		--input-placeholder: #a3a3a3;
		--input-addon-background: #525252;
		--input-addon-border: #404040;

		/* Notification */
		--notification-background: #404040;
		--notification-border: #404040;
		--notification-text: #ffffff;
		--notification-item-background-hover: #404040;
		--notification-item-background-active: #404040;
		--notification-item-background-border: #404040;
		--notification-item-badge-background-readed: #525252;

		/* Radio */
		--radio-border: #525252;
		--radio-ring: #525252;
		--radio-disabled-background: #525252;
		--radio-disabled-text: #525252;
		--radio-disabled-ring: #525252;
		--radio-disabled-border: #525252;
		
		/* Select */
		--select-background: #ffffff20;
		--select-border: #ffffff00;
		--select-text: #f5f5f5;
		--select-single-value-text: #f5f5f5;
		--select-multi-value-background: #ffffff20;
		--select-multi-value-text: #f5f5f5;
		--select-multi-value-border: #ffffff20;
		--select-menu-background: #171717;
		--select-menu-border: #404040;
		--select-menu-ring: #404040;
		--select-option-hover-text: #f5f5f5;

		/* Table */
		--table-border: #ffffff36;
		--table-header-background: #ffffff20;
		--table-header-text: #ffffff;
		--table-header-border: #ffffff36;
		--table-body-border: #ffffff36;
		--table-footer-border: #ffffff36;
		--table-row-background-hover: #00000080;

		/* Collapsible / Details */
		--collapsible-background: #4cb3d4;
		--collapsible-text: #ffffff;
		--collapsible-border: #4cb3d4;

		/* Markdown-it Plugin Demo */
		--markdown-demo-code-background: #40404080;
		--markdown-demo-code-copy-button-hover-background: #404040B3;
		--markdown-demo-border: #ffffff20;

		/* Markdown-it Plugin Tabs */
		--markdown-tabs-border: #404040;
		--markdown-tabs-text: #d4d4d4;

		/* Markdown Alert: NOTE */
		--markdown-note-bg: #193c47;
		--markdown-note-border: #4cb3d4;
		--markdown-note-text: #ffffff;
		--markdown-note-mark-bg: rgba(76, 179, 212, 0.5);
		--markdown-note-mark-text: #ffffff;

		/* Markdown Alert: IMPORTANT */
		--markdown-important-bg: rgba(107, 33, 168, 0.2);
		--markdown-important-border: #6b21a8;
		--markdown-important-text: #ffffff;
		--markdown-important-mark-bg: rgba(107, 33, 168, 0.5);
		--markdown-important-mark-text: #ffffff;

		/* Markdown Alert: TIP */
		--markdown-tip-bg: #003100;
		--markdown-tip-border: #009400;
		--markdown-tip-text: #ffffff;
		--markdown-tip-mark-bg: rgba(0, 148, 0, 0.4);
		--markdown-tip-mark-text: #ffffff;

		/* Markdown Alert: WARNING */
		--markdown-warning-bg: #4d3800;
		--markdown-warning-border: #e6a700;
		--markdown-warning-text: #ffffff;
		--markdown-warning-mark-bg: rgba(230, 167, 0, 0.5);
		--markdown-warning-mark-text: #ffffff;

		/* Markdown Alert: CAUTION */
		--markdown-caution-bg: #4b1113;
		--markdown-caution-border: #e13238;
		--markdown-caution-text: #ffffff;
		--markdown-caution-mark-bg: rgba(225, 50, 56, 0.5);
		--markdown-caution-mark-text: #ffffff;

		/* Task */
		--markdown-task-border: #4b5563;
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	button, [role=button] {
		cursor: pointer;
	}

	/* Base Body colors */
	body {
		@apply text-paragraph text-sm bg-background leading-normal font-medium;
		-webkit-font-smoothing: antialiased;
	}

	/* H1 Heading colors and sizes */
	h1,
	.h1 {
		@apply text-4xl font-bold !text-heading-1;
	}

	/* H2 Heading colors and sizes */
	h2,
	.h2 {
		@apply text-3xl font-bold !text-heading-2;
	}

	/* H3 Heading colors and sizes */
	h3,
	.h3 {
		@apply text-2xl font-bold !text-heading-3;
	}

	/* H4 Heading colors and sizes */
	h4,
	.h4 {
		@apply text-xl font-bold !text-heading-4;
	}

	/* H5 Heading colors and sizes */
	h5,
	.h5 {
		@apply text-lg font-bold !text-heading-5;
	}

	/* H6 Heading colors and sizes */
	h6,
	.h6 {
		@apply text-base font-semibold !text-heading-6;
	}

	/* Default Paragraph Color */
	p {
		@apply text-paragraph;
	}

	/* Horizontal Rule */
	hr {
		@apply border-gray-200 dark:border-gray-600;
	}

	/* Inline Text Elements */
	small  { @apply !text-small; }
	strong { @apply !text-strong; }
	b      { @apply !text-b; }
	em     { @apply !text-em; }
	i      { @apply !text-i; }
	u      { @apply !text-u; }
	mark   { @apply !text-mark; }
	del    { @apply !text-del; }
	ins    { @apply !text-ins; }
	sub    { @apply !text-sub; }
	sup    { @apply !text-sup; }
}

@layer components {
	.heading-text {
		@apply text-paragraph;
	}


	code:not(.hljs) {
		@apply bg-[#f9f2f4] dark:bg-[#1a1a1a] text-[#c7254e] dark:!text-white rounded-sm p-[.2em] after:!content-['\00a0'] before:!content-['\00a0'] after:tracking-[-.2em] before:tracking-[-.2em]
	}

	.prose table {
        border-collapse: collapse !important; /* Enforce collapse */
        width: 100% !important; /* Enforce full width */
        @apply !border !border-table-border; /* Enforce outer border */
    }

    .prose th {
        @apply !px-4 !py-2; /* Enforce padding */
        @apply !border !border-table-header-border !text-table-header-text; /* Enforce cell borders */
    }

    .prose td {
        @apply !px-4 !py-2; /* Enforce padding */
        @apply !border !border-table-body-border; /* Enforce cell borders */
    }

    .prose thead th {
        @apply !bg-table-header-background !text-table-header-text; /* Enforce background */
        text-align: left !important; /* Enforce text alignment */
        font-weight: bold !important; /* Enforce bold font weight */
    }

	.prose tfoot td {
		@apply !border !border-table-footer-border;
	}

	.dynamic-doc-content pre {
		@apply !bg-transparent !p-0
	}

}