.elementor-70973 .elementor-element.elementor-element-0dd5f5b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--z-index:999;}.elementor-70973 .elementor-element.elementor-element-57cf709{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:stretch;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:8px;--padding-bottom:8px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-57cf709:not(.elementor-motion-effects-element-type-background), .elementor-70973 .elementor-element.elementor-element-57cf709 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#005251;}.elementor-70973 .elementor-element.elementor-element-ed0c39d{text-align:center;}.elementor-70973 .elementor-element.elementor-element-ed0c39d .elementor-heading-title{font-size:18px;font-weight:300;color:#ADB3B7;}.elementor-70973 .elementor-element.elementor-element-e5991ed{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:13px;--padding-bottom:13px;--padding-left:10px;--padding-right:10px;}.elementor-70973 .elementor-element.elementor-element-e5991ed:not(.elementor-motion-effects-element-type-background), .elementor-70973 .elementor-element.elementor-element-e5991ed > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-d57d3fd );}.elementor-70973 .elementor-element.elementor-element-f3d1a39{--display:flex;--justify-content:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-f3d1a39.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-70973 .elementor-element.elementor-element-80660e8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-70973 .elementor-element.elementor-element-80660e8{text-align:start;}.elementor-70973 .elementor-element.elementor-element-80660e8 img{width:140px;}.elementor-70973 .elementor-element.elementor-element-bd34b49{--display:flex;--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-bd34b49.e-con{--flex-grow:1;--flex-shrink:0;}.elementor-70973 .elementor-element.elementor-element-7edef6d{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-ab169eb .elementor-button{background-color:#02010100;font-weight:600;fill:#FFFFFF;color:#FFFFFF;}.elementor-70973 .elementor-element.elementor-element-7679573 .elementor-button{font-weight:600;}.elementor-70973 .elementor-element.elementor-element-e96be51{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-5ba51f4 .elementor-button{background-color:var( --e-global-color-4dc81b5 );font-size:18px;font-weight:700;fill:var( --e-global-color-a52b5f4 );color:var( --e-global-color-a52b5f4 );border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-a52b5f4 );border-radius:8px 8px 8px 8px;padding:8px 8px 8px 8px;}.elementor-70973 .elementor-element.elementor-element-5ba51f4{width:auto;max-width:auto;}.elementor-70973 .elementor-element.elementor-element-5ba51f4.elementor-element{--align-self:center;}.elementor-70973 .elementor-element.elementor-element-b8e1e9f .elementor-button{background-color:var( --e-global-color-a52b5f4 );font-size:18px;font-weight:700;fill:var( --e-global-color-4dc81b5 );color:var( --e-global-color-4dc81b5 );border-style:solid;border-width:2px 2px 2px 2px;border-color:var( --e-global-color-a52b5f4 );border-radius:8px 8px 8px 8px;padding:8px 8px 8px 8px;}.elementor-70973 .elementor-element.elementor-element-b8e1e9f{width:auto;max-width:auto;}.elementor-70973 .elementor-element.elementor-element-b8e1e9f.elementor-element{--align-self:center;}.elementor-70973 .elementor-element.elementor-element-d795670{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:nowrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-d795670.e-con{--flex-grow:0;--flex-shrink:1;}.elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button{background-color:#EA9C2F;font-size:18px;font-weight:700;line-height:1.5em;fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );border-radius:8px 8px 8px 8px;padding:8px 16px 8px 16px;}.elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button:hover, .elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button:focus{background-color:#B2803A;}.elementor-70973 .elementor-element.elementor-element-860b51b{width:auto;max-width:auto;}.elementor-70973 .elementor-element.elementor-element-860b51b > .elementor-widget-container{margin:0px 0px 14px 0px;}.elementor-70973 .elementor-element.elementor-element-2ff6331{width:auto;max-width:auto;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-70973 .elementor-element.elementor-element-57cf709{--justify-content:space-between;--flex-wrap:nowrap;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-70973 .elementor-element.elementor-element-e5991ed{--justify-content:space-between;--flex-wrap:nowrap;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-70973 .elementor-element.elementor-element-80660e8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-70973 .elementor-element.elementor-element-d795670{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;}.elementor-70973 .elementor-element.elementor-element-860b51b > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-70973 .elementor-element.elementor-element-57cf709{--padding-top:10px;--padding-bottom:0010px;--padding-left:24px;--padding-right:24px;}.elementor-70973 .elementor-element.elementor-element-ed0c39d{text-align:center;}.elementor-70973 .elementor-element.elementor-element-ed0c39d .elementor-heading-title{font-size:16px;}.elementor-70973 .elementor-element.elementor-element-e5991ed{--justify-content:center;--padding-top:10px;--padding-bottom:0010px;--padding-left:24px;--padding-right:24px;}.elementor-70973 .elementor-element.elementor-element-f3d1a39{--width:35%;--justify-content:center;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-f3d1a39.e-con{--flex-grow:1;--flex-shrink:0;}.elementor-70973 .elementor-element.elementor-element-80660e8 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-70973 .elementor-element.elementor-element-80660e8 img{width:110px;}.elementor-70973 .elementor-element.elementor-element-bd34b49{--width:0%;}.elementor-70973 .elementor-element.elementor-element-7edef6d{--margin-top:30px;--margin-bottom:80px;--margin-left:0px;--margin-right:0px;}.elementor-70973 .elementor-element.elementor-element-d795670{--width:65%;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-70973 .elementor-element.elementor-element-d795670.e-con{--align-self:center;}.elementor-70973 .elementor-element.elementor-element-860b51b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button{font-size:14px;padding:8px 6px 8px 6px;}.elementor-70973 .elementor-element.elementor-element-2ff6331 > .elementor-widget-container{margin:5px 0px 0px 0px;}}@media(min-width:768px){.elementor-70973 .elementor-element.elementor-element-57cf709{--content-width:100%;}.elementor-70973 .elementor-element.elementor-element-e5991ed{--content-width:1240px;}.elementor-70973 .elementor-element.elementor-element-f3d1a39{--width:22%;}.elementor-70973 .elementor-element.elementor-element-bd34b49{--width:40%;}.elementor-70973 .elementor-element.elementor-element-7edef6d{--width:300px;}.elementor-70973 .elementor-element.elementor-element-e96be51{--width:30%;}.elementor-70973 .elementor-element.elementor-element-d795670{--width:430px;}}@media(max-width:1024px) and (min-width:768px){.elementor-70973 .elementor-element.elementor-element-f3d1a39{--width:30%;}.elementor-70973 .elementor-element.elementor-element-bd34b49{--width:40%;}.elementor-70973 .elementor-element.elementor-element-d795670{--width:45%;}}/* Start custom CSS for heading, class: .elementor-element-ed0c39d */.elementor-70973 .elementor-element.elementor-element-ed0c39d h3, .elementor-70973 .elementor-element.elementor-element-ed0c39d a {
    color: white!important
}
.underline {
    text-decoration: underline
}
.elementor-70973 .elementor-element.elementor-element-ed0c39d h3 a {
    font-weight: bold
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-80660e8 */.elementor-70973 .elementor-element.elementor-element-80660e8 img { 
    border-radius: 0!important;
}

body.business-page .elementor-70973 .elementor-element.elementor-element-80660e8 img {
    content: url(https://zengo.com/wp-content/uploads/Zengo-Business-logo-white.svg);
    max-width: 130px;
}/* End custom CSS */
/* Start custom CSS for wp-widget-nav_menu, class: .elementor-element-725aacc */.main-menu-wrap li span.title {
    color: white
}

.main-menu-wrap .sub-menu-wrapper > ul > li.parent-title span.title {
    color: #EA9C2F;
    font-size: 14px;
    font-weight: 500
}
.main-menu-wrap .sub-menu-wrapper ul ul li.parent-title span.title, .sub-menu-wrapper span.description {
    color: #919A9F;
    font-size: 14px
}
.main-menu-wrap .sub-menu-wrapper ul li.list.subhead > a span.title {
    font-size: 18px;
    font-weight: bold;
}

.main-menu-wrap .menu-zengo-mega-container ul.menu li.mega-link a, .main-menu-wrap .menu-zengo-mega-container ul.menu li.mega-link a .img {
    display: flex;
    gap:16px;
    align-items: center;
    font-size: 14px;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu li.mega-link a {
    padding: 5px 10px;
    
}
li.mega-link a span.title, .main-menu-wrap .sub-menu-wrapper ul li.list.subhead > a span.title {
    color: #EA9C2F
}
li.mega-link a .img path, .main-menu-wrap .sub-menu-wrapper ul li.list.subhead > a .img path, .sub-menu-wrapper li.expanded > a .img path {
    fill: #EA9C2F
}
.sub-menu-wrapper .text-wrap span {
    display: block;
    line-height: 1.3;
}
.text-wrap .description {
    margin-top: 6px
}
.list.subhead > button {
    display: none
}
.main-menu-wrap .sub-menu-wrapper ul li.list.subhead {
    padding: 0;
    background-color: inherit;
    flex-wrap: wrap;
}
.main-menu-wrap .sub-menu-wrapper li.list.subhead > a:hover {
    text-decoration: underline solid #EA9C2F
}
.sub-menu-wrapper ul.sub-menu li.parent-title {
    padding: 0 0 10px;
}


.sub-menu-wrapper .text-wrap {
	width: 20%;
	white-space: wrap;
	flex-grow: 1;
}

.sub-menu-wrapper ul.sub-menu li:not(.list) > a .img {
    width: 23px;
    height: auto;
}
.sub-menu-wrapper ul li:not(.parent-title):hover > a .title {
    font-weight: bold;
}

.sub-menu-wrapper ul {
    list-style: none;
    padding: 0;
}



.main-menu-wrap .sub-menu-wrapper li.list.subhead > ul > li.parent-title {
    display: none
}
.main-menu-wrap .sub-menu-wrapper ul li.menu-item-has-children button.dropdown-toggle {
    margin: 0;
}
li.new > .sub-menu-wrapper > ul > li.parent-title span:after {
    border-radius: 5px;
    padding: 4px 8px;
    background: white;
    color: black!important;
    content: "NEW";
    font-size: 12px!important;
    font-weight: bold!important;
    margin-left: 10px
}
.sub-menu-wrapper ul li {
    border-radius: 4px;
 	padding: 15px 25px 15px 10px;
 	display: flex
}
.sub-menu-wrapper ul.sub-menu a {
	display: inline-flex;
	column-gap: 10px;
	align-items: start;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-grow: 1;
}
@media (min-width:1024px){
.main-menu-wrap ul.menu > li:hover > a .title, .main-menu-wrap ul.menu > li:focus > a .title {
 color: #EA9C2F   
}
.sub-menu-wrapper li.menu-item-has-children:not(.list.subhead) > a > .text-wrap {
    padding-right: 15px
}
.main-menu-wrap .sub-menu-wrapper ul > li.menu-item-has-children button.dropdown-toggle:after {
    transform: translate(0);
}
 .main-menu-wrap ul.menu > li.menu-item-has-children.mega:hover > button.dropdown-toggle {
    transform: translatey(2px) rotate(-90deg);
}
.main-menu-wrap .sub-menu-wrapper li.menu-item-has-children:hover > button.dropdown-toggle {
    transform: translatey(5px) rotate(-90deg);
}    
.main-menu-wrap .list ul li span.title {
    font-size:15px!important;
    font-weight:500;
}
.main-header-col-menu, .main-menu-wrap, .main-menu-wrap .menu-zengo-mega-container ul.menu > li {
    position:static;
}
.main-menu-wrap .menu-zengo-mega-container > ul > .mega-link {
    display:none;
}
.sub-menu-wrapper hr {
    width: 100%;
    height: 1px;
    padding: 0;
    background: #EAEAF066;
    margin: 40px 0 20px;
}
.main-menu-wrap .sub-menu-wrapper > ul.mega-links {
    max-width:480px;
    display: flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right:auto;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu li.mega-link {
    padding: 0;    
}

.main-menu-wrap .sub-menu-wrapper ul li.list.subhead ul {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    position:relative;
    left:0;
    top:0;
    transform: translate(0);
    width:100%;
    grid-template-rows: repeat(6, auto);
    padding:0 0 0 20px;
    pointer-events: none;
}
.main-menu-wrap ul.menu > li.mega:hover ul li:hover ul li.subhead ul {
    pointer-events: auto;
}
.main-menu-wrap ul.menu > li.mega .sub-menu-wrapper, .main-menu-wrap .sub-menu-wrapper ul ul {
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
        border-radius:16px;
        position: absolute;
        z-index: -1;
        top: calc(100% + 2px);

        padding: 40px 40px 20px;
        left:0;
        right:0;
        background: black;
        visibility: hidden;

        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;

        -webkit-box-shadow: 0px 16px 41px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 16px 41px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 16px 41px 0px rgba(0, 0, 0, 0.25);

        -webkit-transition: all .3s ease-in-out .3s, visibility .3s linear .3s, z-index 0s linear 10ms;
        -moz-transition: all .3s ease-in-out .3s, visibility .3s linear .3s, z-index 0s linear 10ms;
        transition: all .3s ease-in-out .3s, visibility .3s linear .3s, z-index 0s linear 10ms;
backdrop-filter: blur(14px);


        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
    }

.main-menu-wrap ul.menu > li.mega:focus .sub-menu-wrapper,
    .main-menu-wrap ul.menu > li.mega:hover .sub-menu-wrapper,
    .main-menu-wrap ul.menu > li.mega:focus-within .sub-menu-wrapper, .sub-menu-wrapper ul li:not(.list.subhead):focus ul,
    .mega:hover > .sub-menu-wrapper > ul > li:hover > ul,
    .mega:hover > .sub-menu-wrapper > ul > li:hover > ul > li:not(.list.subhead):hover > ul {
        z-index: 1;
        visibility: visible;

        -webkit-transition-delay: 0s, 0s, .3s;
        -moz-transition-delay: 0s, 0s, .3s;
        transition-delay: 0s, 0s, .3s;

        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);

        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }    



.main-menu-wrap .sub-menu-wrapper ul li ul {
	right: 0;
	top: 0;
	left: calc(33.333% + 40px);
	margin: 0;
}
.sub-menu-wrapper > ul.sub-menu:has(> li:nth-child(n+6)) ul {
	width: calc(33.333% + 13px);
	left: auto;
}
.sub-menu-wrapper > ul.sub-menu:has(> li:nth-child(n+6)) li > ul > li {
    grid-column: 1 / span 2;
}
.sub-menu-wrapper > ul.sub-menu:has(> li:nth-child(n+6)) ul ul{
grid-template-columns: repeat(1, 1fr); 
}
.main-menu-wrap .sub-menu-wrapper > ul:not(:has(> li:nth-child(6))) > li > ul {
	left: calc(33.333% + 13px);
}

.sub-menu-wrapper > ul.sub-menu {
border-right: 1px solid #EAEAF066;
padding-bottom: 10px;
 }
 .sub-menu-wrapper ul.sub-menu {
    display: grid;
grid-template-rows: repeat(5, auto); 
grid-column-gap: 40px;
  grid-auto-flow: column;
     width: 33.333%;
     padding-right: 40px;
}
.sub-menu-wrapper ul ul.sub-menu::has(> li:nth-child(5)) {
    width: 33.333%;
grid-template-columns: repeat(1, 1fr); 
}
.sub-menu-wrapper ul.sub-menu:has(> li:nth-child(6)), .sub-menu-wrapper ul > li:nth-child(-n + 5).opened ul  {
     width: 66.666%;
grid-template-columns: repeat(2, 1fr); 
    left: calc(33.333% + 13px)
}
.sub-menu-wrapper ul.sub-menu:has(> li:nth-child(6)) > li.parent-title, .sub-menu-wrapper .opened > ul > li {
    grid-column: 1 / span 2;
}

.sub-menu-wrapper .list ul.sub-menu {
    grid-template-rows: repeat(10, auto); 
}
.sub-menu-wrapper .list ul.sub-menu li:not(.parent-title) {
    padding: 13px 10px
}
.sub-menu-wrapper .cols-3 ul.sub-menu {
grid-template-columns: repeat(3, 1fr)!important; 
}
.sub-menu-wrapper .cols-3 ul.sub-menu li.parent-title {
    grid-column: 1 / span 3!important;
}
.sub-menu-wrapper ul li:not(.parent-title):hover {
    background-color: rgba(31, 35, 36, 1);
}
.sub-menu-wrapper .opened > li:hover {
    background-color: inherit!important
}
.main-menu-wrap .menu-zengo-mega-container ul.menu {
    gap: 10%;    
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li.mega > .sub-menu-wrapper:hover {
    cursor: auto;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li > a {
    height: auto;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li::after { 
    opacity: 0;
    pointer-events: none;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li.mega > a::before {
	content: '';
	position: absolute;
	background-color: transparent;
	height: 80px;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	z-index: 13;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li.mega > .sub-menu-wrapper > ul > li > a::before {
	content: '';
	position: absolute;
	background-color: transparent;
	height: 100%;
	top: 0;
	bottom: 0;
	right: -120px;
	width: 100%;
	pointer-events: none;
	z-index: 13;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li.mega:hover > a::before, .main-menu-wrap .menu-zengo-mega-container ul.menu > li.mega:hover > .sub-menu-wrapper > ul > li:hover > a:before {
    pointer-events: auto;
}
}

@media (max-width:1024px){
.sub-menu-wrapper ul.sub-menu li:not(.list) > a .img {
    margin-top: 2px;
}    
.main-menu-wrap .menu-zengo-mega-container .sub-menu-wrapper ul.sub-menu li.parent-title {
    display:none!important;
}
.main-menu-wrap ul.menu > li.expanded {
    padding:10px 0;
    border-color:#EAEAF066;
    border-width:1px 0;
    border-style:solid;
}
.sub-menu-wrapper li.menu-item-has-children > a {
    max-width: calc(100% - 30px);
}
.sub-menu-wrapper li.list.subhead > a {
	padding-top: 10px;
	margin-bottom: -5px;
}
.main-menu-wrap ul.menu > li.menu-item-has-children > button.dropdown-toggle, .main-menu-wrap .sub-menu-wrapper ul.sub-menu > li.menu-item-has-children > button.dropdown-toggle {
    pointer-events:none;
	background: none;
	transform: translateY(1px);
}
.main-menu-wrap ul li.menu-item-has-children button.dropdown-toggle:after {
	font-family: "Font Awesome 5 Free";
	content: "\f078";
	color: white;
	display: block;
}
 .main-menu-wrap ul.menu > li.menu-item-has-children.mega.expanded > button.dropdown-toggle {
    transform: translatey(0) rotate(-90deg);
}
.main-menu-wrap ul.menu > li > .sub-menu-wrapper > ul.sub-menu > li.menu-item-has-children.expanded > button.dropdown-toggle {
    transform: translatey(5px) rotate(-90deg);
}
.main-menu-wrap ul.menu > li.expanded > a .title, .main-menu-wrap ul.menu > li.menu-item-has-children.expanded > button.dropdown-toggle::after {
	color: #EA9C2F;
}

.main-menu-wrap .menu-zengo-mega-container ul.menu {
    background-color:black;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu .sub-menu-wrapper > ul {
    padding:0;
}
.sub-menu-wrapper ul li {
    padding:5px 0;
    display:flex;
    flex-wrap:wrap;
}
.sub-menu-wrapper ul > li:not(:last-child) {
    margin-bottom: 5px;
}
.sub-menu-wrapper li.subhead.list > ul {
    padding-left: 0;
}
.main-menu-wrap .menu-zengo-mega-container ul.menu > li > a {
	padding: 10px 0;
}
.main-menu-wrap .menu-zengo-mega-container .sub-menu-wrapper {
    display: none;
    width:100%;
    padding-bottom:5px;
    
}
.main-menu-wrap .sub-menu-wrapper > ul.mega-links, .sub-menu-wrapper ul li:not(.list.subhead) > ul, .sub-menu-wrapper hr {
    display:none;
}

.main-menu-wrap .menu-zengo-mega-container ul.sub-menu {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 5px 35px;
	width: 100%;
}
.main-menu-wrap ul.menu > li.expanded > a, .sub-menu-wrapper ul > li.expanded > a span.title  {
	color: #EA9C2F;
}
.main-menu-wrap ul.menu > li.mega-link a {
    padding: 0;
}
.main-menu-wrap ul.menu > li.mega-link:first-of-type {
    margin-top:40px;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-bd34b49 */@media (min-width:1281px){
    .elementor-70973 .elementor-element.elementor-element-bd34b49 {
        width:auto;
        margin-right:auto;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7edef6d */@media (max-width: 768px) {
.elementor-70973 .elementor-element.elementor-element-7edef6d {
    display: none!important;
}
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-5ba51f4 */.elementor-70973 .elementor-element.elementor-element-5ba51f4 .elementor-button {
    min-width: 170px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-b8e1e9f */.elementor-70973 .elementor-element.elementor-element-b8e1e9f .elementor-button {
    min-width: 170px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-860b51b */@media (max-width: 1140px){
    .elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button{
        font-size: 14px;
        padding: 10px;
        white-space: nowrap;
    }
}

@media (max-width: 360px){
    .elementor-70973 .elementor-element.elementor-element-860b51b .elementor-button{
        font-size: 12px;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d795670 */@media (max-width:1280px) and (min-width:1024px) {
    .elementor-70973 .elementor-element.elementor-element-d795670 {
        display:block;
        width:auto;
        min-width:auto;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-e5991ed *//* and force display of menu on small devices */
@media (max-width: 767px) {
    .elementor-70973 .elementor-element.elementor-element-e5991ed .elementor-hidden-mobile:not(.business-cta), 
    .elementor  .elementor-hidden-phone {
  display: block;
}
}

@media (min-width:1281px){
.main-menu-wrap ul.menu > li.menu-item-has-children button.dropdown-toggle {
    background:none;
transform: translateY(-2px);
}
.main-menu-wrap ul.menu > li.menu-item-has-children button.dropdown-toggle:after {
font-family:"Font Awesome 5 Free";
content:"\f078";
color: white;
display:block;
}
.main-menu-wrap ul.menu > li.menu-item-has-children:hover > button.dropdown-toggle:after {
      color:#EA9C2F;
}
.main-menu-wrap ul.menu > li.menu-item-has-children:focus > button.dropdown-toggle, .main-menu-wrap ul.menu > li.menu-item-has-children:hover > button.dropdown-toggle {
	transform-origin: 80% 6px;
}
.main-menu-wrap ul.menu > li.menu-item-has-children.menu-orange button.dropdown-toggle:after {
    color: rgba(234, 156, 47, 1);
}
body.business-page .business-cta {
    display: flex!important
}    
}
body.business-page .main-header-cta, body.business-page .main-header-col-cta.log {
    display: none!important
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-0dd5f5b */.elementor-70973 .elementor-element.elementor-element-0dd5f5b.elementor-sticky__spacer {
    overflow: hidden
}

body.uk_geo .top-marque, .main-header-wrap.top-bar {
    border: 0;
    display: none!important;
}

.page-id-63554 .elementor-70973 .elementor-element.elementor-element-0dd5f5b .main-header-wrap.top-bar, .page-id-67754 .elementor-70973 .elementor-element.elementor-element-0dd5f5b .main-header-wrap.top-bar, body.uk_geo .elementor-70973 .elementor-element.elementor-element-0dd5f5b .main-header-wrap.top-bar {
    display: block!important;
}
.page-id-63554 .elementor-70973 .elementor-element.elementor-element-0dd5f5b .main-header-wrap:not(.top-bar), .page-id-67754 .elementor-70973 .elementor-element.elementor-element-0dd5f5b .main-header-wrap:not(.top-bar), body.uk_geo .main-header-wrap:not(.top-bar) {
    display: none!important
}
.elementor-70973 .elementor-element.elementor-element-0dd5f5b li.menu-item-type-wpml_ls_menu_item {
  max-width: 80px;
  margin-right: 0;
}
.elementor-70973 .elementor-element.elementor-element-0dd5f5b li.menu-item-type-wpml_ls_menu_item:not(.menu-item-has-children) {
    display: none;
}
.elementor-70973 .elementor-element.elementor-element-0dd5f5b li.menu-item-type-wpml_ls_menu_item ul {
    padding: 0;
}
@media (min-width:1024px){
    .elementor-70973 .elementor-element.elementor-element-0dd5f5b li.menu-item-type-wpml_ls_menu_item {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS */.elementor-30452 .elementor-element.elementor-element-b5cdeba {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var(--container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --align-items: stretch;
}
body:lang(de) .main-menu-wrap ul.menu > li.menu-orange ~ li {
	display: none;
}

body.single-swap .chart.card {
    display: none;
}


.payment-hero__footer .hero__cta {
    gap:24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.payment-hero__footer img {
    margin: 0;
}
.payment-hero__footer .button.big {
	border: 2px solid #EEF2F7;
	min-width: 240px;
}
.payment-hero__footer .button.big.demo {
	background: #0F0E0E;
	color: #EEF2F7;
}
.payment-hero__footer .button.big.trail {
	background: #EEF2F7;
}
@media (max-width:768px){
  .payment-hero__footer .hero__cta {
      justify-content: center;
  }  
}/* End custom CSS */