.elementor-71026 .elementor-element.elementor-element-bf493c7{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:80px;--padding-bottom:80px;--padding-left:20px;--padding-right:20px;}.elementor-71026 .elementor-element.elementor-element-bf493c7:not(.elementor-motion-effects-element-type-background), .elementor-71026 .elementor-element.elementor-element-bf493c7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-d57d3fd );}.elementor-71026 .elementor-element.elementor-element-1d3425f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:stretch;--gap:60px 60px;--row-gap:60px;--column-gap:60px;}.elementor-71026 .elementor-element.elementor-element-71c0179{--display:flex;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-71026 .elementor-element.elementor-element-1c710e2 img{width:100%;}.elementor-71026 .elementor-element.elementor-element-0b5733f{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-71026 .elementor-element.elementor-element-0b5733f.e-con{--order:99999 /* order end hack */;--flex-grow:0;--flex-shrink:0;}.elementor-71026 .elementor-element.elementor-element-eccf620.elementor-element{--align-self:flex-start;}.elementor-71026 .elementor-element.elementor-element-eccf620{text-align:start;}.elementor-71026 .elementor-element.elementor-element-eccf620 img{max-width:100px;}.elementor-71026 .elementor-element.elementor-element-cc0d194{width:var( --container-widget-width, 120px );max-width:120px;--container-widget-width:120px;--container-widget-flex-grow:0;text-align:center;}.elementor-71026 .elementor-element.elementor-element-cc0d194 .elementor-heading-title{font-size:14px;color:#FFFFFF;}.elementor-71026 .elementor-element.elementor-element-d52a6bb{--display:flex;--padding-top:5px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu--main .elementor-item{padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-71026 .elementor-element.elementor-element-27d9471{--e-nav-menu-horizontal-menu-item-margin:calc( 30px / 2 );}.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:30px;}.elementor-71026 .elementor-element.elementor-element-2f64e49{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;}.elementor-71026 .elementor-element.elementor-element-2f64e49.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-repeater-item-3e2c465.elementor-social-icon i{color:var( --e-global-color-d57d3fd );}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-repeater-item-3e2c465.elementor-social-icon svg{fill:var( --e-global-color-d57d3fd );}.elementor-71026 .elementor-element.elementor-element-eec0c52{--grid-template-columns:repeat(0, auto);--icon-size:16px;--grid-column-gap:20px;--grid-row-gap:20px;}.elementor-71026 .elementor-element.elementor-element-eec0c52 > .elementor-widget-container{margin:40px 0px 40px 0px;}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-social-icon{background-color:var( --e-global-color-7e8bce3 );--icon-padding:0.5em;}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-social-icon i{color:var( --e-global-color-d57d3fd );}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-social-icon svg{fill:var( --e-global-color-d57d3fd );}.elementor-71026 .elementor-element.elementor-element-5313862{text-align:center;}.elementor-71026 .elementor-element.elementor-element-5313862 .elementor-heading-title{font-size:14px;color:#FFFFFF;}.elementor-71026 .elementor-element.elementor-element-0747fe6{text-align:center;font-size:14px;color:#FFFFFF;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-71026 .elementor-element.elementor-element-bf493c7{--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-71026 .elementor-element.elementor-element-1d3425f{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}}@media(max-width:767px){.elementor-71026 .elementor-element.elementor-element-1d3425f{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-71026 .elementor-element.elementor-element-2f64e49{--gap:10px 10px;--row-gap:10px;--column-gap:10px;}.elementor-71026 .elementor-element.elementor-element-eec0c52 .elementor-widget-container{text-align:center;}.elementor-71026 .elementor-element.elementor-element-eec0c52{--grid-column-gap:30px;}.elementor-71026 .elementor-element.elementor-element-5313862{text-align:start;}.elementor-71026 .elementor-element.elementor-element-0747fe6{text-align:start;}}@media(min-width:768px){.elementor-71026 .elementor-element.elementor-element-bf493c7{--content-width:1300px;}.elementor-71026 .elementor-element.elementor-element-1d3425f{--width:100%;}.elementor-71026 .elementor-element.elementor-element-71c0179{--width:16%;}.elementor-71026 .elementor-element.elementor-element-0b5733f{--width:100px;}.elementor-71026 .elementor-element.elementor-element-d52a6bb{--width:100%;}.elementor-71026 .elementor-element.elementor-element-2f64e49{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-71026 .elementor-element.elementor-element-71c0179{--width:17%;}.elementor-71026 .elementor-element.elementor-element-d52a6bb{--width:100%;}.elementor-71026 .elementor-element.elementor-element-2f64e49{--width:700px;}}/* Start custom CSS for image, class: .elementor-element-eccf620 */.elementor-71026 .elementor-element.elementor-element-eccf620 {
    margin: 0 0 auto;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cc0d194 */.elementor-71026 .elementor-element.elementor-element-cc0d194 .elementor-heading-title {
    max-width: 100px
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-27d9471 */.elementor-71026 .elementor-element.elementor-element-27d9471 .dropdown-toggle,
.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li.hidden > a,
.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu a .sub-arrow{
    display: none !important;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu__container{
    overflow: hidden;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu{
    width: calc(100% + 30px);
    margin: 0 -15px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu a{
    white-space: normal;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li{
    display: block !important;
    padding: 0 18px 30px;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li > a,
.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu ul.sub-menu li a{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    background: none !important;
    font-size: 16px;
    color: #FFF;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li > a{
    display: block !important;
    margin: 0 0 24px !important;
    color: #EA9C2F;
    font-weight: 600;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu ul.sub-menu{
    display: block !important;
    visibility: visible !important;
    position: relative !important;
    z-index: 9999 !important;
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
	width: auto !important;
	height: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	
	-webkit-opacity: 1 !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu ul.sub-menu li{
    margin: 0 0 24px !important;
}

.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu ul.sub-menu li a:focus,
.elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu ul.sub-menu li a:hover{
    color: #EA9C2F;
}

@media (max-width: 1280px){
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li{
        width: 33.33%;
    }
}

@media (max-width: 840px){
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li{
        width: 50%;
    }
    
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li:nth-child(4){
        order: 2;
    }
    
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li:nth-child(2){
        order: 3;
    }
    
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li:nth-child(5){
        order: 4;
    }
    
    .elementor-71026 .elementor-element.elementor-element-27d9471 .elementor-nav-menu > li:nth-child(3){
        order: 5;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d52a6bb */@media (min-width:768px){
.elementor-71026 .elementor-element.elementor-element-d52a6bb .elementor-nav-menu > li {
    flex: 1 1 160px;
}    
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-0747fe6 */.elementor-71026 .elementor-element.elementor-element-0747fe6 a{
    color: #FFF;
}

.elementor-71026 .elementor-element.elementor-element-0747fe6 a:focus,
.elementor-71026 .elementor-element.elementor-element-0747fe6 a:hover{
    color: #35C4BA;
}/* End custom CSS */
/* Start custom CSS */body.uk_geo footer {
    display: none;
}/* End custom CSS */